[submodule "boost"]
	path = dependencies/boost
	url = https://github.com/boostorg/boost
	branch = boost-1.72.0
[submodule "eigen"]
	path = dependencies/eigen
	url = https://gitlab.com/libeigen/eigen
	branch = 3.3
[submodule "opencv"]
	path = dependencies/opencv
	url = https://github.com/opencv/opencv
	branch = 4.2.0
[submodule "yaml-cpp"]
	path = dependencies/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
	branch = 0.6.3
